.pragmatic_header_logo{
    margin: 2rem 0;
    font-family: 'Comfortaa', cursive;
    /*#        margin : 상하 rem 좌우 ; #*/
}

.pragmatic_header_button{
    margin-bottom: 2rem;
}

.pragmatic_footer_logo{
    margin-top: 1.5rem;

}

.pragmatic_footer_button{
    margin: 1.5rem 0; font-family: 'Comfortaa', cursive;
}

.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
/*    object-fit >> 이미지 사이즈맞추기 */
}

.NNS_B{
    font-family: "Comfortaa", cursive;
}