.pragmatic_header_logo{
    margin: 2rem 0;
    font-family: 'Comfortaa', cursive;
    /*#        margin : 상하 rem 좌우 ; #*/
}

.pragmatic_header_button{
    margin-bottom: 2rem;
}

.pragmatic_footer_logo{
    margin-top: 1.5rem;

}

.pragmatic_footer_button{
    margin: 1.5rem 0; font-family: 'Comfortaa', cursive;
}